*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient( to bottom right,rgb(127, 187, 255), rgb(240, 85, 219)) no-repeat;
    height:100vh;
    align-content:center;



}

.container{
    width:40%;
    height:75%;
    margin: auto;
    padding:px;
    border-radius:20px;
    text-align:center;
    background-color:white;
    align-content:center;

    

}

.profile{
    border:4px rgb(119, 119, 252) solid;
    border-radius:50%;
}

header{
    width:80%;
    margin: auto;
    padding-bottom:30px;
}

section{

    width:80%;
    margin: auto;
    margin-bottom: 15px;

}

h1{
    margin-bottom:15px;

}


.para{      text-align:center;
            padding:0px 40px;


        color: rgb(74, 74, 74);
        line-height:25px;
}



hr{
    width:80%;
    margin: auto;
    margin-bottom:25px;
    border:1px rgba(227, 227, 227, 0.4) solid;
}

footer{

    width:80%;
    margin: auto;
    justify-content: center;
    display:flex;
    gap:40px;
}

button{
    padding: 6px 12px;
    border:1px rgb(69, 69, 255) solid;
    color:rgb(69, 69, 255);
    background:white;
    font-weight:bold;

    border-radius:4px;
}







